        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        :root {
        	--bg-color: #FFFEFC;
        	--content-bg-color: #F4EAE3;
        	--font-main-color: #523D3D;
        	--font-secondary-color: #3A3A34;
        	--additional-light-color: #E3CFBD;
        	--font-contact-color: #b68768;
        	--additional-dark-color: #E4BD9A;
        	--additional-decor-color: #D1BCAE;
        	--additional-font-color: #989898;
        	--warning-font-color: #de3030;
        	--additional-font-color: #989898;
        	--footer-color: #292626;
        	--popup-color: rgba(224, 220, 220, 0.8);
        	--font-cinzel: 'Cinzel Decorative', serif;
        	--font-constantia: "Constantia", serif;
        	--font-opensans: "Open Sans", sans-serif;

        	--text-size-titleMain: clamp(20px, 4vw, 52px);
        	--text-size-title: clamp(22px, 4vw, 32px);
        	--text-size-subtitle: clamp(14px, 4vw, 24px);
        	--text-size-content: clamp(12px, 4vw, 20px);
        	--text-size-achivements: clamp(22px, 4vw, 36px);

        	--section-paddings: clamp(50px, 10vw, 140px) 0 clamp(50px, 10vw, 140px) 0;

        	--transition-time: 0.5s
        }

        * {
        	color: var(--font-main-color);
        	user-select: none;
        }

        body {
        	font-family: var(--font-opensans);
        	font-weight: 400;
        	font-size: var(--text-size-content);
        	line-height: 130%;
        }

        .title_main {
        	font-family: var(--font-constantia);
        	font-size: var(--text-size-titleMain);
        	line-height: 130%;
        	text-transform: uppercase;
        	color: var(--font-main-color);
        }

        .title {
        	font-family: var(--font-constantia);
        	font-weight: 700;
        	font-size: var(--text-size-title);
        	line-height: 100%;
        	color: var(--font-main-color);
        }

        .subtitle {
        	font-family: var(--font-constantia);
        	font-weight: 700;
        	font-size: var(--text-size-subtitle);
        	line-height: 100%;
        }

        .title_additional {
        	font-family: var(--font-constantia);
        	font-weight: 400;
        	font-size: var(--text-size-title);
        	color: var(--font-main-color);
        	line-height: 100%;
        }


        @font-face {
        	font-family: 'Cinzel Decorative';
        	src: url('../public/fonts/CinzelDecorative-Regular.ttf') format('truetype');
        	font-weight: normal;
        	font-style: normal;
        }

        @font-face {
        	font-family: 'Constantia';
        	src: url('../public/fonts/constan.ttf') format('truetype');
        	font-weight: normal;
        	font-style: normal;
        }